@{
    Layout = null;
}

<!-- 当修改并准备提交本页面之前，请修改版本号，大改动修改主版本号，小改动修改副版本号 -->
<!-- Progress : 1.0 -->

<!DOCTYPE HTML>
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
    <!-- UTF-8编码 -->
    <meta charset="utf-8" />
    <!-- 适配多平台设备 -->
    <meta name="viewport" content="width=device-width" />
    <!-- 为搜索引擎提供关键字 -->
    <meta name="keywords" content="机器学习, 人脸检测, 人脸对齐, Face to Face" />
    <!-- 为搜索引擎提供简介-->
    <meta name="description" content="基于机器学习的人脸服务云平台" />
    <!-- 本页标题 -->
    <title>人脸检测</title>
    <!-- CSS载入 -->
    <!-- 主样式 -->
    <link rel="stylesheet" href="~/Styles/styles.css" />
    <!-- Swipper -->
    <link rel="stylesheet" href="~/Styles/swiper.min.css" />
</head>

<body>
    <!-- header start -->
    <header>
        <!-- TODO: 添加头部元素 -->
        <div class="header">

            <!-- logo -->
            <a href="/" title="首页" class="logo">face-cloud-platform</a>

            <!-- navigation start -->
            <ul class="navigation">
                <li>
                    开放能力
                </li>
            </ul>
            <!-- navigation end -->

            <!-- login start -->
            
            <!-- login end -->

        </div>
    </header>
    <!-- header end -->
</body>

</html>
